<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Login</h1>

<form th:action="@{/login}" method="post">
    <input type="email" name="username" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>

<div th:if="${param.error}">
    <p style="color:red">Invalid email or password</p>
</div>


<p>
    No account?
    <a th:href="@{/register}">Create account</a>
</p>

</body>
</html>
